## Folders
build/
node_modules/
public/storage/
public/css/
public/fonts/
public/js/
vendor/

## Files
_ide_helper.php
.phpstorm.meta.php
Homestead.yaml
Homestead.json
phpunit.dusk.xml
public/mix-manifest.json

## Hidden Folders
.idea/
.vagrant/

## Hidden Files
.DS_Store
.env
.env.php
.env.*.php
