## Folders
build/
node_modules/
public/hot/
public/storage/
public/css/
public/fonts/
public/js/
vendor/

## Files
_ide_helper.php
.phpstorm.meta.php
clover.xml
storage/*.key
phpunit.dusk.xml
.phpunit.result.cache
public/mix-manifest.json

## Hidden Folders
.idea/
.vagrant/
.vscode/

## Hidden Files
.DS_Store
.env
.env.backup*
.env.bak*
.env.php
.env.*.php
